<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PBEM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PBEM.Properties.Settings>
            <setting name="Root" serializeAs="String">
                <value>PBEM</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>Local File System</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDefaults" serializeAs="String">
                <value>False</value>
            </setting>
        </PBEM.Properties.Settings>
    </userSettings>
</configuration>